<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medicard.member">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="false"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <application
        android:name="utilities.ShowTermsNCondition"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MemberAccountActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_member_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".QrCodeActivity"
            android:label="@string/title_activity_qr_code"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermsActivity"
            android:label="@string/title_activity_terms"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".RequestChangePassword"
            android:label="@string/title_activity_request_change_password"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashScreen.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePassword.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme" />
        <activity
            android:name="v2.RequestButtonsActivity"
            android:label="@string/title_activity_request_buttons"
            android:theme="@style/AppTheme" />
        <activity
            android:name="v2.DoctorListActivity"
            android:label="@string/title_activity_doctor_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name="v2.HospitalListAcitivity"
            android:label="@string/title_activity_hospital_list_acitivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="v2.DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name="v2.ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme" />
        <activity
            android:name="v2.SortHospitalActivity"
            android:label="@string/title_activity_sort"
            android:theme="@style/AppTheme" />
        <activity
            android:name="v2.SelectProvinceActivity"
            android:label="@string/title_activity_select_province"
            android:theme="@style/AppTheme" />
        <activity
            android:name="v2.SortDoctorActivity"
            android:label="@string/title_activity_sort_doctor"
            android:theme="@style/AppTheme" />
        <activity
            android:name="v2.LoaPageActivity"
            android:label="@string/title_activity_loa_page"
            android:theme="@style/AppTheme" />
        <activity
            android:name="v2.SortLoaReqActivity"
            android:label="@string/title_activity_sort_loa_req"
            android:theme="@style/AppTheme" />
        <activity android:name="modules.tests.TestsActivity" />
        <activity android:name="modules.consultation.ConsultationDetailsActivity" />
        <activity android:name="modules.selecthospital.SelectHospitalActivity" />
        <activity android:name="modules.selecttest.SelectTestActivity" />
        <activity android:name="modules.requestapproval.RequestApprovalDetailsActivity" />
        <activity android:name="modules.requestnewapproval.RequestNewActivity" />
        <activity android:name="modules.requestforconsult2.RequestForConsultActivity" />
        <activity android:name="modules.requestdoctor2.RequestDoctorActivity" />
        <activity android:name="modules.diagnosis2.DiagnosisActivity" />
        <activity android:name="modules.diagnosistest.DiagnosisTestActivity" />
        <activity android:name="modules.testattachment.TestAttachmentActivity" />
        <activity android:name="modules.newtest.NewTestActivity" />
        <activity android:name="modules.procedure.ProcedureActivity" />
        <activity android:name="modules.prescriptionattachment.PrescriptionAttachmentActivity" />
        <activity android:name="modules.dummy.DummyActivity" />
        <activity
            android:name=".module.test.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".module.newprocedure.NewTestProcedureActivity"
            android:label="@string/title_activity_new_test_procedure"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".module.doctor.DoctorActivity"
            android:label="@string/title_activity_doctor"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".module.hospital.HospitalActivity"
            android:label="@string/title_activity_hospital"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".module.diagnosis.DiagnosisActivity"
            android:label="@string/title_activity_diagnosis"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".module.diagnosistest.TestByDiagnosisActivity"
            android:label="@string/title_activity_test_by_diagnosiscode"
            android:theme="@style/AppTheme"></activity>

    </application>

</manifest>